.SMParent {
    background-color: #6D90AA;
	border-bottom:1px solid #CCCCCC;
    font:bold 8pt Tahoma;
    color:#FFFFFF;
    text-align:left;
	text-decoration: none;
	padding: 4px;
	padding-left: 10px;
}
.SMParentOver {
    background-color: #6D90AA;
	border-bottom:1px solid #CCCCCC;
    font:bold 8pt Tahoma;
    color:#FFFFFF;
    text-align:left;
	text-decoration: none;
	padding: 4px;
	padding-left: 10px;
    cursor:pointer;
}
.SMParentSelected {
    background-color: #6D90AA;
	border-bottom:1px solid #CCCCCC;
    font:bold 8pt Tahoma;
    color:#FFFFFF;
    text-align:left;
	text-decoration: none;
	padding: 4px;
	padding-left: 10px;
}

.SMChild {
	font:8pt Tahoma;
	color:#FFFFFF;
	text-decoration:none;
	padding-left: 12px;
	text-align:left;
}
.SMChild a {
	font:8pt Tahoma;
	color:#FFFFFF;
	text-decoration:none;
}
.SMChildOver {
	font:8pt Tahoma;
	color:#FFFFFF; 
	text-decoration:underline; 
	padding-left: 12px;
	cursor:pointer;
	text-align:left;
}
.SMChildOver a {
	font:8pt Tahoma;
	color:#FFFFFF;
	text-decoration:underline;
}
.SMChildSelected {
	font:8pt Tahoma;
	color:#FFFFCC;
	text-decoration: none;
	padding-left: 12px;
	text-align:left;
}
.SMChildSelected a {
	font:8pt Tahoma;
	color:#FFFFCC;
	text-decoration:none;
}

.SMChildrenBox {
	background-color:#47637A;
}

.SMMenu {
	background-color:white; 
	width: 120px;
	overflow: hidden;
}

.SMImageParent {
	display:none;
}

.SMImageChild {
	display:none;
}