	/* Top Container - Left */
	.ob_iLboTL
	{
		position: absolute;
    	font-size: 1px;
    	height: 30px;
    	width: 7px;
    	left: 0px;
    	cursor: pointer;
    	background-image: url(images/horizontal.png);
	}
	
	* HTML .ob_iLboTL
	{
	    -background-image: url(images/horizontal.gif);
	}
	
	/* Top Container - Content */
	.ob_iLboTC
	{
		height: 30px;
		line-height: 30px;
		cursor: pointer;
		margin-left: 7px;
		margin-right: 26px;
		position: relative;
		background-image: url(images/vertical.png);
	}
	.ob_iLboTC_T
	{
	    margin-right: 7px !important;
	}
	
	* HTML .ob_iLboTC
	{
	    -background-image: url(images/vertical.gif);
	}
	
	/* Top Container - Right */
	.ob_iLboTR
	{
		position: absolute;    	
    	font-size: 1px;
    	height: 30px;
		width: 26px;
		right: 0px;
		cursor: pointer;
		background-image: url(images/horizontal.png);
	}
	
	* HTML .ob_iLboTR
	{
	    -background-image: url(images/horizontal.gif);
	}
	
	.ob_iLboTR_T
	{
		position: absolute;    	
    	font-size: 1px;
    	height: 21px;
		width: 7px;
		right: 0px;
		background-image: url(images/horizontal-textbox.png);
	}
	
	* HTML .ob_iLboTR_T
	{
	    -background-image: url(images/horizontal-textbox.gif);
	}
	
	/* Input Element */
	.ob_iLboIE
	{
		width: 100%;
		position: absolute;
		left: 0px;
		right: 0px;
		top:0px;
		display: block;
    	background-color: transparent;
    	border: 0px;
    	margin: 0px;
    	padding: 0px;
    	margin-top: 8px !important;
    	font-family: Verdana !important;
		font-size: 11px !important;
		height: 13px !important;
		cursor: pointer;
	}

    /* Input Element - with image */
	.ob_iLboIE_WI
	{
	    /*padding-left: 18px;*/
	    /*text-indent: 18px;*/
	    margin-left: 18px;
	    position: relative;
	}
	
	/* The image of the selected item, displayed in the top section */
	.ob_iLboTC img
	{
	    position: absolute;
	    left: 0px;
	    top: 2px;
	    height: 16px;
	}
	
	/* Input Element - Empty Text */
	.ob_iLboIE_ET
	{
	    color: #5b676d !important;
	    font-style: italic !important;
	}	
	.ob_iLboCIC
	{
		display: none;
	}
	
	/* Top Container - for listbox */
	.ob_iLboHTCont
	{
	    width: 1px;
	    height: 1px;
	    position: relative;
	    overflow: hidden;
	    top: 10px;
	    left: 10px;
	}
	
	/* Normal State - top container */
	.ob_iLboITCN
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 30px;
        font-size: 10px;
    	padding: 0px;
    	vertical-align: middle;
	}
	
	/* Normal State - top container - left */
	.ob_iLboITCN .ob_iLboTL
	{
		background-position: 0px 0px;
	}
	
	/* Normal State - top container - content */
	.ob_iLboITCN .ob_iLboTC
	{
		background-position: 0px 0px;
	}
		
	/* Normal State - top container - right */
	.ob_iLboITCN .ob_iLboTR
	{
		background-position: -7px 0px;
	}
	
	.ob_iLboITCN .ob_iLboTR_T
	{
		background-position: -7px 0px;
	}
	
	.ob_iLboITCN .ob_iLboIE
	{
	    color: #473f36;
	}
	
	
	
	
	
	/* Over State - top container */
	.ob_iLboITCO
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 30px;
        font-size: 10px;
    	padding: 0px;
    	vertical-align: middle;
	}
	
	/* Over State - top container - left */
	.ob_iLboITCO .ob_iLboTL
	{
		background-position: -33px 0px;
	}
	
	/* Over State - top container - content */
	.ob_iLboITCO .ob_iLboTC
	{
		background-position: 0px -30px;
	}
		
	/* Over State - top container - right */
	.ob_iLboITCO .ob_iLboTR
	{
		background-position: -40px 0px;
	}
	
	.ob_iLboITCO .ob_iLboTR_T
	{
		background-position: -21px 0px;
	}
	
	.ob_iLboITCO .ob_iLboIE
	{
	    color: #000;
	}
	
	
	
	
	
	/* ActiveClosed State - top container */
	.ob_iLboITCAC
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 30px;
        font-size: 10px;
    	padding: 0px;
    	vertical-align: middle;
	}
	
	/* ActiveClosed State - top container - left */
	.ob_iLboITCAC .ob_iLboTL
	{
		background-position: -66px 0px;
	}
	
	/* ActiveClosed State - top container - content */
	.ob_iLboITCAC .ob_iLboTC
	{
		background-position: 0px -60px;
	}
		
	/* ActiveClosed State - top container - right */
	.ob_iLboITCAC .ob_iLboTR
	{
		background-position: -73px 0px;
	}
	
	.ob_iLboITCAC .ob_iLboTR_T
	{
		background-position: -35px 0px;
	}
	
	.ob_iLboITCAC .ob_iLboIE
	{
	    color: #000;
	}
	
	
	
	
	
	/* ActiveOpen State - top container */
	.ob_iLboITCAO
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 30px;
        font-size: 10px;
    	padding: 0px;
    	vertical-align: middle;
	}
	
	/* ActiveOpen State - top container - left */
	.ob_iLboITCAO .ob_iLboTL
	{
		background-position: -99px 0px;
	}
	
	/* ActiveOpen State - top container - content */
	.ob_iLboITCAO .ob_iLboTC
	{
		background-position: 0px -90px;
	}
		
	/* ActiveOpen State - top container - right */
	.ob_iLboITCAO .ob_iLboTR
	{
		background-position: -106px 0px;
	}
	
	.ob_iLboITCAO .ob_iLboTR_T
	{
		background-position: -49px 0px;
	}
	
	.ob_iLboITCAO .ob_iLboIE
	{
	    color: #000;
	}
	
	
	
	
	
	/* Disabled State - top container */
	.ob_iLboITCD
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 30px;
        font-size: 10px;
    	padding: 0px;
    	vertical-align: middle;
	}
	
	/* Disabled State - top container - left */
	.ob_iLboITCD .ob_iLboTL
	{
		background-position: -132px 0px;
	}
	
	/* Disabled State - top container - content */
	.ob_iLboITCD .ob_iLboTC
	{
		background-position: 0px -120px;
	}
		
	/* Disabled State - top container - right */
	.ob_iLboITCD .ob_iLboTR
	{
		background-position: -139px 0px;
	}
	
	.ob_iLboITCD .ob_iLboTR_T
	{
		background-position: -63px 0px;
	}
	
	.ob_iLboITCD .ob_iLboIE
	{
	    color: #5b676d;
	}
	
	
	
	
	
	/* items container */
	.ob_iLboIC
	{
		width: 100%;
		height: auto;
		font-size: 10px;
		position: absolute;
		top:30px;
		left:0px;
		visibility: hidden;
		z-index: 9999;
		border: 0px;
		padding-bottom: 5px;
	}
	
	.ob_iLboIC_L
	{
	    top: 0px !important;
	    z-index: 0 !important;
	    position: relative !important;
	    display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
	}

	.ob_iLboIC_R
	{
	    
	}
	
	/* items container iframe*/
	.ob_iDdlCIF
	{
		font-size: 10px;
		position: absolute;
		top:29px;
		left:0px;
		margin-top: 0px;
		margin-bottom: 1px;
		z-index: 9998;
	}
	
	
	
	/* items container - header */
	.ob_iLboICH
	{
		position: relative;
    	height: 12px;
    	font-size: 1px;
	}
	
	/* items container - header - with template */
	.ob_iLboICHWT
	{
	    position: relative;
	    height: 20px;
	    color: #FFFFFF;
    	font-size: 11px;
    	font-family: Verdana;
	}
	
	/* items container - header - left side */
	.ob_iLboICHCL
	{
		position: absolute;
    	width: 12px;
    	height: 16px;
    	top: 0px;
    	left: -5px;
		background-image: url(images/drop-down-horizontal.png);
		background-repeat: no-repeat;
		background-position: 0px 0px;
	}
	
	* HTML .ob_iLboICHCL
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	.ob_iLboICHWT .ob_iLboICHCL
	{
	    height: 20px;
	    background-image: url(images/drop-down-horizontal-header-footer.png);
	    background-repeat: no-repeat;
		background-position: 0px 0px;
	}
	
	* HTML .ob_iLboICHWT .ob_iLboICHCL
	{
	    -background-image: url(images/drop-down-horizontal-header-footer.gif);
	}
	
	/* items container - header - middle content */
	.ob_iLboICHCM
	{
		height: 12px;
    	margin-left: 5px;
	    margin-right: 5px;
		background-image: url(images/drop-down-horizontal.png);
		background-repeat: repeat-x;
		background-position: 0px -120px;
	}
	
	* HTML .ob_iLboICHCM
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	/* items container - header - middle content - with template */
	.ob_iLboICHWT .ob_iLboICHCM
	{
	    padding-left: 12px;
	    height: 20px;
	    line-height: 20px;
	    background-image: url(images/drop-down-horizontal-header-footer.png);
		background-repeat: repeat-x;
		background-position: 0px -20px;
	}
	
	* HTML .ob_iLboICHWT .ob_iLboICHCM
	{
	    -background-image: url(images/drop-down-horizontal-header-footer.gif);
	}
	
	/* items container - header - middle content - with template - inner div elements */
	.ob_iLboICHWT .ob_iLboICHCM div
	{
	    position: relative !important;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        overflow: hidden;
        white-space: nowrap;
	}
	
	/* items container - header - right side */
	.ob_iLboICHCR
	{
		position: absolute;
    	width: 12px;
    	height: 12px;
    	top: 0px;
    	right: -5px;
		background-image: url(images/drop-down-horizontal.png);
		background-repeat: no-repeat;
		background-position: 0px -42px;
	}
	
	* HTML .ob_iLboICHCR
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	.ob_iLboICHWT .ob_iLboICHCR
	{
	    height: 20px;
	    background-image: url(images/drop-down-horizontal-header-footer.png);
		background-repeat: no-repeat;
		background-position: -12px 0px;
	}
	
	* HTML .ob_iLboICHWT .ob_iLboICHCR
	{
	    -background-image: url(images/drop-down-horizontal-header-footer.gif);
	}
	
	
	
	/* items container - body */
	.ob_iLboICB
	{
		position: relative;
    	height: 100%;
    	font-size: 1px;
	}
	
	* HTML .ob_iLboICB
	{
	    -background-image: none;
	    -background-color: transparent;
	}
	
	/* items container - body left side */
	.ob_iLboICBL
	{
		position: absolute;
    	width: 12px;
    	height: 100%;
    	top: 0px;
    	left: -5px;
		background-image: url(images/drop-down-vertical.png);
		background-position: 0px 0px;
		overflow: hidden;
		z-index: 5;
	}
	
	* HTML .ob_iLboICBL
	{
	    -background-image: url(images/drop-down-vertical.gif);
	}
	
	.ob_iLboICBLI
	{
		position: absolute;
    	width: 6px;
    	height: 30px;
    	top: 0px;
    	left: 6px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: -6px -12px;
	}
	
	* HTML .ob_iLboICBLI
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	
	/* items container - body right side */
	.ob_iLboICBR
	{
		position: absolute;
    	width: 12px;
    	height: 100%;
    	top: 0px;
    	right: -5px;
		background-image: url(images/drop-down-vertical.png);
		background-position: -12px 0px;
		overflow: hidden;
		z-index: 5;
	}
	
	* HTML .ob_iLboICBR
	{
	    -background-image: url(images/drop-down-vertical.gif);
	}
	
	.ob_iLboICBRI
	{
		position: absolute;
    	width: 6px;
    	height: 30px;
    	top: 0px;
    	right: 6px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -54px;
	}
	
	* HTML .ob_iLboICBRI
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
		
	
	
	/* items container - body content*/
	.ob_iLboICBC
	{
		position: relative;
    	width: auto;
    	height: 100%;
    	min-height: 42px;
    	overflow: auto;
    	margin-left: 3px;
	    margin-right: 3px;
	    padding-bottom: 4px;
	    background-image: url(images/drop-down-horizontal.png);
	    background-position: 0px -132px;
    	background-repeat: repeat-x;
	    background-color: #f5f4f2;
	    font-size: 10px;
	    z-index: 10;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        list-style-type: none !important;
	}
	
	* HTML .ob_iLboICBC
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	
	
	.ob_iLboICBC li
    {
        position: relative;
        margin: 0px;
        padding: 0px;
        padding-left: 12px;
        margin-left: 1px;
        margin-right: 15px;
        height: 16px;
        font-family: Verdana;
	    font-size: 10px;
	    color: #473f36;
	    cursor: pointer;
	    background-image: none;
    }
        
    .ob_iLboICBC li.ih
    {
        background-image: url(images/lighted.png);
        background-repeat: repeat-x;
        background-position: 0px -15px;
    }
    
    * HTML .ob_iLboICBC li.ih
	{
	    -background-image: url(images/lighted.gif);
	}
	
	.ob_iLboICBC li.id
	{
	    color: #AAAAAA;
	}
    
    .ob_iLboICBC li b /*, .ob_iLboICBC li div*/
    {
        background-position: 0px 0px;
        background-repeat: no-repeat;
        position: absolute;
        left: -15px;
        padding-left: 28px;
        right: 0px;
        height: 16px;
        line-height: 17px;
        font-weight: normal;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-align: left !important;
    }
    
    .ob_iLboICBC li.ih b /*, .ob_iLboICBC li.ih div*/
    {
        background-image: url(images/lighted.png);
    }
    
    * HTML .ob_iLboICBC li.ih
	{
	    -background-image: url(images/lighted.gif);
	}
	
	.ob_iLboICBC li b em
	{
	    font-weight: bold !important;
	    font-size: 11px !important;
	    font-style: normal;
	    background-color: #CCCCCC;
	}
    
    .ob_iLboICBC li i
    {
        background-position: 0px -32px;
        background-repeat: no-repeat;
        position: absolute;
        right: -15px;
        height: 16px;
        width: 15px;
        text-indent: 20px;
        overflow: hidden;
        font-size: 0px;
        white-space: nowrap;
    }
    
    .ob_iLboICBC li.ih i
    {
        background-image: url(images/lighted.png);
    }
    
    * HTML .ob_iLboICBC li.ih i
    {
        background-image: url(images/lighted.gif);
    }
    
    .ob_iLboICBC li span
    {
        display: none;
    }
    
    .ob_iLboICBC li b span
    {
        display: inline;
    }
    
    /* Item image */
    .ob_iLboICBC li b img, .ob_iLboICBC li div img
    {
        vertical-align: middle;
        margin-right: 3px;
        height: 16px;
    }
	
	
	
	/* items container - footer */
	.ob_iLboICF
	{
		position: absolute;
    	height: 12px;
    	font-size: 1px;
    	width: 100%;
    	left: 0px;
	}
	
	/* items container - footer - with template */
	.ob_iLboICFWT
	{
	    position: absolute;
	    height: 20px;
	    width: 100%;
	    color: #3d3d3d;
    	font-size: 11px;
    	font-family: Verdana;
	}
	
	/* items container - footer - left side */
	.ob_iLboICFCL
	{
		position: absolute;
    	width: 12px;
    	height: 12px;
    	top: 0px;
    	left: -5px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -84px;
		background-repeat: no-repeat;
		z-index:2;
	}
	
	* HTML .ob_iLboICFCL
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	.ob_iLboICFWT .ob_iLboICFCL
	{
	    height: 20px;
	    background-image: url(images/drop-down-horizontal-header-footer.png);
		background-position: 0px -40px;
		background-repeat: no-repeat;
	}
	
	* HTML .ob_iLboICFWT .ob_iLboICFCL
	{
	    -background-image: url(images/drop-down-horizontal-header-footer.gif);
	}
	
	/* items container - footer - middle content */
	.ob_iLboICFCM
	{
		height: 12px;
    	margin-left: 7px;
	    margin-right: 7px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -96px;
		background-repeat: repeat-x;
		z-index:1;
	}
	
	* HTML .ob_iLboICFCM
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	.ob_iLboICFWT .ob_iLboICFCM
	{
	    background-image: url(images/drop-down-horizontal-header-footer.png);
		background-position: 0px -60px;
		background-repeat: no-repeat;
		background-repeat: repeat-x;
	    padding-left: 10px;
	    height: 20px;
	    text-align: left;
	    line-height: 18px;
	    cursor: pointer;
	}
	
	* HTML .ob_iLboICFWT .ob_iLboICFCM
	{
	    -background-image: url(images/drop-down-horizontal-header-footer.gif);
	}
	
	/* items container - footer - right side */
	.ob_iLboICFCR
	{
		position: absolute;
    	width: 12px;
    	height: 12px;
    	top: 0px;
    	right: -5px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -108px;
		background-repeat: no-repeat;
	}
	
	* HTML .ob_iLboICFCR
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	.ob_iLboICFWT .ob_iLboICFCR
	{
	    height: 20px;
	    background-image: url(images/drop-down-horizontal-header-footer.png);
		background-position: -12px -40px;
		background-repeat: no-repeat;
	}
	
	* HTML .ob_iLboICFWT .ob_iLboICFCR
	{
	    -background-image: url(images/drop-down-horizontal-header-footer.gif);
	}
	
	/* Loading indicator */
	.ob_iLboLI
	{
	    font-family: Verdana;
	    font-size: 10px;
	    color: #2b4c61;
	    height: 27px;
	    line-height: 27px;
	    text-align: center;
	    position: absolute;
	    top: 5px;
	    left: 20px;
	    right: 20px;
	    z-index: 10;
	}
	
	/* Loading indicator - left side */
	.ob_iLboLI_L
	{
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    width: 9px;
	    height: 27px;
	    background-image: url(images/loading.png);
	    background-position: 0px 0px;
		background-repeat: no-repeat;
	}
	
	/* Loading indicator - middle */
	.ob_iLboLI_M
	{
	    margin-left: 9px;
	    margin-right: 9px;
	    height: 27px;
	    background-image: url(images/loading.png);
	    background-position: 0px -27px;
		background-repeat: repeat-x;
	}
	
	/* Loading indicator - right side */
	.ob_iLboLI_R
	{
	    position: absolute;
	    right: 0px;
	    top: 0px;
	    width: 9px;
	    height: 27px;
	    background-image: url(images/loading.png);
	    background-position: -9px 0px;
		background-repeat: no-repeat;
	}
	
	
	
	/* Container for the extra space used by the virtual scrolling feature */
	.ob_iLboVSH
	{
	    /*height: 100px !important;*/
	}
	
	
	
	/* overlay for the disabled state */
	.ob_iLbo_DSO
	{
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    right: 0px;
	    bottom: 0px;
	    background-color: #DDDDDD;
	    filter: alpha(style=0, opacity=30);
	    opacity: 0.3;
	    -moz-opacity: 0.3;
	    z-index: 10;
	}