.SMParent {
    background-color: #336699;
	border-bottom:3px solid #BBCCDD;
    font:bold 8pt Tahoma;
    color:#FFFFFF;
    text-align:left;
	text-decoration: none;
	padding: 3px;
    padding-left: 12px;
    border-top: 1px solid #BBCCDD;
}
.SMParentOver {
    background-color: #336699;
	border-bottom:3px solid #BBCCDD;
    font:bold 8pt Tahoma;
    color:#FFFFFF;
    text-align:left;
	text-decoration: none;
	padding: 3px;
    padding-left: 12px;
    cursor:pointer;
    border-top: 1px solid #BBCCDD;
}
.SMParentSelected {
    background-color: #336699;
	border-bottom:3px solid #BBCCDD;
    font:bold 8pt Tahoma;
    color:#FFFFFF;
    text-align:left;
	text-decoration: none;
	padding: 3px;
    padding-left: 12px;
    border-top: 1px solid #BBCCDD;
}

.SMChild {
	border-bottom: 1px solid #BBCCDD;
	font:8pt Tahoma; 
	color:#336699;
	text-decoration:none;
    padding-left: 12px;
    text-align:left;
}
.SMChild a {
	color:#336699;
	font:8pt Tahoma;
	text-decoration:none;
}

.SMChildOver {
	border-bottom: 1px solid #BBCCDD;
	font:8pt Tahoma; 
	color:#336699;
	text-decoration:underline;
    padding-left: 12px;
	cursor:pointer;
	text-align:left;
}
.SMChildOver a {
	color:#336699;
	font:8pt Tahoma;
	text-decoration:underline;
}

.SMChildSelected {
	border-bottom: 1px solid #BBCCDD;
	font:bold 8pt Tahoma; 
	color:#0066CC;
	text-decoration:none;
    padding-left: 12px;
    text-align:left;
}
.SMChildSelected a {
	color:#0066CC;
	font:bold 8pt Tahoma;
	text-decoration:none;
}

.SMChildrenBox {
	background-color:white;
	border-left: 1px solid #BBCCDD;
	border-right: 1px solid #BBCCDD;
	border-bottom: 1px solid #BBCCDD;
}

.SMMenu {
	background-color:white; 
	width: 170px;
	overflow:hidden;
}

.SMImageParent {
	display:none;
}

.SMImageChild {
	display:none;
}