.SMParent {
	height: 18px;
	background-color:#98B66F;
	border-bottom:1px solid white;
    font:bold 11px Tahoma; 
    color:#154A2C;
    text-align:left;
    padding-left: 4px;
}
.SMParentOver {
	height: 18px;
	background-color: #98B66F;
	border-bottom:1px solid white;	 
	font:bold 11px Tahoma;
    color:white;
    text-align:left;
	text-decoration:none; 
    padding-left: 4px;
    cursor:pointer;
}
.SMParentSelected {
	height: 18px;
	background-color :#98B66F;
	border-bottom:1px solid white;
	font:bold 11px Tahoma;
    color:#154A2C;
    text-align:left;
    padding-left: 4px;
	cursor:default;
}

.SMChild {
	height: 18px;
	border-bottom:1px solid #cccccc;
    font:bold 11px Tahoma; 
	text-decoration:none;
    color:white;
    padding-left: 15px;
	cursor:pointer;
	text-align:left;
}
.SMChild a {
	color:white;
	font:bold 11px Tahoma;
	text-decoration:none;
}

.SMChildOver {
	height: 18px;
	border-bottom:1px solid #cccccc;
    font:bold 11px Tahoma; 
	text-decoration:none; 
    color:#D7EEB7;
    padding-left: 15px;
	cursor:pointer;
	text-align:left;
    text-decoration: underline;
}
.SMChildOver a {
	color:#D7EEB7;
	font:bold 11px Tahoma;
	text-decoration: underline;
}

.SMChildSelected {
	height: 18px;
	border-bottom:1px solid #cccccc;
    font:bold 11px Tahoma; 
    color:white;
    padding-left: 15px;
    text-align:left;
}
.SMChildSelected a {
	color:white;
	font:bold 11px Tahoma;
	text-decoration:none;
}

.SMChildrenBox {
}

.SMMenu {
	background-color:#64695E; 
	width: 150px;
	border:1px solid #cccccc;
	border-bottom:none;
	overflow:hidden;
}

.SMImageParent {
	border:0px;
	vertical-align:middle;
	margin-right:8px;
	width:9px;
	height:9px;
}

.SMImageChild {
	border:0px;
	width:10px;
	height:7px;
}